$background-ice: #e5e5e5;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button, textarea {
    font-family: "Inter", sans-serif;
}


body {
    min-height: 100vh;
    background: $background-ice;
}